@model D_LinkedList
@{
    ViewData["Title"] = "Students";
}

<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-7 border border-light p-4 rounded" style="height:480px; background: #F3FFFF">
        @{
            string displaystudent = "display: ";
            string zeroStudent = "display: ";
            string nextButton = ""; //pointer-events: none;
            string prevButton = "";

            bool clearNextVisibility = false;

            Node node = Model.Current;



            if (Model.Size < 1)
            {
                displaystudent += "none";
                zeroStudent += "block";
            }
            else
            {
                zeroStudent += "none";
            }

            //Hide next button
            if (Model.Size == 1)
            {
                nextButton = "display:none";
            }else if (Model.Size > 1) // && node.Next != null && )
            {
                if (node.Next != null && node.Next.Next == null)
                {
                    nextButton = "pointer-events: none;";
                }
                if(node.Next == null)
                {
                    nextButton = "pointer-events: none;";
                    clearNextVisibility = true;
                }
                
            }

            if(node != null && node.Prev == null)
            {
                prevButton = "pointer-events: none;";
            }

            

            //Display data
            string leftname = "";
            string leftgrade = "";

            string righttname = "";
            string rightgrade = "";

            if(node != null)
            {
                leftname = node.Data.FirstName + " " + node.Data.LastName;
                leftgrade = node.Data.StudentGrade;

                if (node.Next != null)
                {
                    righttname = node.Next.Data.FirstName + " " + node.Next.Data.LastName;
                    rightgrade = node.Next.Data.StudentGrade;
                }
            }

          


        }
        <div style="@displaystudent">
            <h3 class="text-center">Click Next or Prev to Traverse Through Students</h3>
            <div class="row mt-5" style="padding-top:100px">
                <div class="col-5" style="padding-left:50px">
                    <h4>@leftname</h4>
                    <p>Grade: <span class="font-weight-bold">@leftgrade</span></p>
                    <a class="btn btn-link" style="padding:0px;" href="#">View Details</a>
                </div>
                <div class="col m-4" style="margin:50px">
                </div>
                <div class="col-5" @{
                     string visibility = "visibility: ";
                     if(Model.Size < 2 || clearNextVisibility)
                     visibility += "hidden";
                     else
                     visibility += "visible";
                     } style="@visibility">
                    <h4>@righttname</h4>
                    <p>Grade: <span class="font-weight-bold">@rightgrade</span></p>
                    <a class="btn btn-link" style="padding:0px" href="#">View Details</a>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:100px">
                <div class="row">
                    <div class="col-6" style="padding-left:20px">
                        <a class="btn btn-outline-primary" href="/Home/Students?btn=prev" style="@prevButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-6" style="padding-left:100px;" >
                        <a class="btn btn-outline-primary" href="/Home/Students?btn=next" style="@nextButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div style="@zeroStudent">
            <h3 class="text-center">It Seems Like you do have student data. Try adding below</h3>
            <p class="text-center"> <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Add">Add a Student</a></p>
            <p>@Model.TestString</p>
        </div>
       
    </div>

    

</div>

